@import "../../styles/main";

.pigsPage {
  @media (min-width: $screen-sm-min ) {
    display: flex;
    > div + div {
      margin-left: 50px;
      padding-left: 50px;
      border-left: 1px solid $color-disabled;
    }
  }
  justify-content: space-between;
}

.button{
  display: block;
  margin-left:auto;
  margin-right:auto;
}

.pigsForm {
  width: 100%;
}

.pigsList {
  width: 100%;
  margin-top:0.1rem;
}

.showItemContent {
  height: 50px;
  transition: all 0.2s ease-in;
}

.hideItemContent {
  height: 0px;
  transition: all 0.2s ease-in;
}

.pigRow{
  overflow-y: hidden;
  cursor: pointer;
  hr {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
}

.listItem {
  div{
    background-color: transparent;
  }
}

.button {
  &:hover {
    background-color: $color-primary-light !important;
  }
}

input, label, button {
  font-size: inherit !important;
}
