.pigsPage {
  display: flex;
  justify-content: space-between;
}

.pigsForm {
  width: 100%;
}

.pigsList {
  width: 100%;
}

.showItemContent {
  height: 50px;
  transition: all 0.5s ease-in;
}

.hideItemContent {
  height: 0px;
  transition: all 0.5s ease-in;
}

.pigRow{
  overflow-y: hidden;
  cursor: pointer;
  hr {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
}

.listItem {
  div{
    background-color: transparent;
  }
}
