@import "../../styles/main";

.pigsPage {
  @media (min-width: $screen-sm-min ) {
    display: flex;
    > div + div {
      margin-left: 50px;
      padding-left: 50px;
      border-left: 1px solid $color-disabled;
    }
  }
  justify-content: space-between;
}

.button{
  display: block;
  margin-left:auto;
  margin-right:auto;
}

.pigsForm {
  width: 100%;
}

.pigsList {
  width: 100%;
  margin-top:0.1rem;
}

.content {
  @media (min-width: $screen-xs-min ) {
    .container {
      display: flex;
      justify-content: space-around;
    }
  }
  span {
    font-weight: lighter;
  }
}

.showItemContent {
  composes: content;
  height: 140px;
  @media (min-width: $screen-xs-min ) {
    height: 140px;
  }
  transition: all 0.2s ease-in;
}

.hideItemContent {
  composes: content;
  height: 0px;
  transition: all 0.2s ease-in;
}

.pigRow{
  overflow-y: hidden;
  hr {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
}

.listItem {
  cursor: pointer;
  div{
    background-color: transparent;
  }
  &:hover {
    background-color: darken(white, 2);
  }
}

.button {
  &:hover {
    background-color: $color-primary-light !important;
  }
}

input, label, button {
  font-size: inherit !important;
}

.displayFlex{
  @media (min-width: $screen-sm-min ) {
    display: flex;
    justify-content: space-between;
    >div {
      width: 100%;
    }
    div + div {
      margin-left: 15px;
    }
  }
}

// put this in a general file
.smallButton {
  font-size: 16px !important;
}
