.topMenu {
  height: 50px;
  > div {
    width: 100%;
    > div {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}

.profileMenu {
  a {
    color: white;
    text-decoration: none;
    &:hover {
      color: $color-accent;
    }
  }
}

.menuButton{
  min-width: auto;
  color: white !important;
  &:hover, &:focus{
    color: $color-accent !important;
    background: none !important;
  }
}
